# Azure Communication Services
AZURE_COMMUNICATION_ENDPOINT="https://.............communication.azure.com/"
AZURE_COMMUNICATION_KEY="Vz............"
AZURE_EMAIL_CONNECTION_STRING="endpoint=https://.............communication.azure.com/;accesskey=Vz............"

FROM_EMAIL="DoNotReply........."

# Google Cloud
GOOGLE_CREDENTIALS_JSON={"type": "service_account", "project_id": "tu-proyecto", "private_key_id": "...", "private_key": "-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n", "client_email": "...", "client_id": "..."}
DRIVE_FILE_ID=1A2B3C4D5E6F7G8H9I0J_ejemplo_id

# Negocio
BOOKING_URL=https://calendly.com/tu-enlace/reunion